body, html {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#notification {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}